gitea:
  database:
    password: mySecretDatabasePassword
  server:
    lfs_jwt_secret: createYourOwnJWTSecret
  mailer:
    smtp_password: mySMTPpassword
  security:
    secret_key: myUniqueSecretKey

